<div class="registration-container">
  <h1>Registration</h1>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password">

    <a routerLink="/login"><button type="submit">Register</button></a>
    <a routerLink="/login"><i>already have an account?</i></a>
  </form>
</div>
